.block-ct .side-left {
    min-height: 30px;
}
.block-ct .side-right {
    min-height: 30px;
}
@media only screen and (orientation: portrait) {
    .block-ct .side-right {
        float: left;
    }
    .container-block *{
        float: none !important;
        width: auto !important;
    }
    .smc-main-ct > .x-panel-header .x-title-text {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 800px) {
    .smc-main-ct > .x-panel-header .x-title-text {
        padding-left:270px;
        font-size: 20px !important;
        font-weight: bold;
    }
    .block-ct > div {
        overflow: auto !important;
        width: auto !important;
        margin-right: 0 !important;
    }
    .block-ct > div div[class^="media-theme"] {
        text-align: center !important;
    }
    .block-ct .side-left {
        float: none;
    }
    .smc-search-field {
         width: calc(100% - 140px) !important;
         left: auto !important;
         right: 40px !important;
     }
    .smc-main-ct > .x-panel-header .x-title-text {
        padding-left: 0 !important;
        text-align: center;
    }
    .fiftyfiftypic, .fiftyfiftytext {
        padding: 0 !important;
    }
    .fiftyfiftypic > div, .fiftyfiftytext > div {
        width: auto !important;
        margin: 0 !important;
    }
    .fuzzyComplete, .fuzzyResults {
        width: 150px;
        z-index: 1000;
    }
    .container-media-subtitle, .content-table-caption {
        overflow: auto;
    }
    .item-content {
        overflow: auto;
    }
    .sidebar{
        margin: 0 0 0 10px;
    }
    .with-sidebar {
        width: auto;
    }
}